
@{
                ViewBag.Title = "Home Page";
}

<div style="text-align:center;" class="jumbotron">
    <h1>AspPay!</h1>
    <p style="font-size:25px;"class="lead">Make purchases easily!</p>
    <a style="font-size:25px;" href="http://localhost:57519/Admin/Pages/Index">Enter </a>
</div>